# Calculando o risco de um portifólio com pesos iguais, usando a Vale e a Petrobras.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['PBR', 'VALE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2015-1-1')['Adj Close']

In [3]:
sec_data.tail()

              PBR   VALE
Date
2022-09-08  13.63  12.34
2022-09-09  13.80  13.51
2022-09-12  13.90  13.78
2022-09-13  13.24  13.15
2022-09-14  13.42  12.92

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                 PBR      VALE
Date
2015-01-02       NaN       NaN
2015-01-05 -0.107664 -0.026804
2015-01-06 -0.008271  0.051681
2015-01-07  0.029462  0.024273
2015-01-08  0.086474  0.027205
...              ...       ...
2022-09-08 -0.010219  0.005689
2022-09-09  0.012395  0.090584
2022-09-12  0.007220  0.019788
2022-09-13 -0.048646 -0.046797
2022-09-14  0.013504 -0.017645

[1939 rows x 2 columns]

## PBR

In [6]:
sec_returns['PBR'].mean()

0.0006633404191538141

In [7]:
sec_returns['PBR'].mean() * 250

0.16583510478845354

In [8]:
sec_returns['PBR'].std()

0.03648194388853065

In [9]:
sec_returns['PBR'].std() * 250 ** 0.5

0.576830180791084

## VALE

In [10]:
sec_returns['VALE'].mean()

0.00046972871918010093

In [11]:
sec_returns['VALE'].mean() * 250

0.11743217979502524

In [12]:
sec_returns['VALE'].std()

0.03252863659706855

In [13]:
sec_returns['VALE'].std() * 250 ** 0.5

0.5143229041332272

***

In [14]:
sec_returns[['PBR', 'VALE']].mean() * 250

PBR     0.165835
VALE    0.117432
dtype: float64

In [15]:
sec_returns[['PBR', 'VALE']].std() * 250 ** 0.5

PBR     0.576830
VALE    0.514323
dtype: float64

## Covariância e Corelação


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

*****

In [16]:
cov_matrix = sec_returns.cov()
cov_matrix

           PBR      VALE
PBR   0.001331  0.000760
VALE  0.000760  0.001058

In [17]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

           PBR      VALE
PBR   0.332733  0.189949
VALE  0.189949  0.264528

***

In [18]:
corr_matrix = sec_returns.corr()
corr_matrix

           PBR      VALE
PBR   1.000000  0.640254
VALE  0.640254  1.000000

## Calculando o Risco de um Portifólio

Ponderação:

In [19]:
weights = np.array([0.5, 0.5])

Variância de um Portifólio:

In [20]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.24428964909675122

Volatilidade de um Portifólio:

In [21]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.49425666317891076

In [22]:
print (str(round(pfolio_vol, 5) * 100) + ' %')

49.425999999999995 %